.custom-size {
  width: 80px;
}

.pt-interrow {
  padding-top: 10rem;
}

.col {
  border: #f0f 1px solid;
}

.text-justify {
  text-align: justify;
}

.social-link {
  color: black;
}
.social-link svg {
  transition: all 0.2s;
}
.social-link svg:hover {
  color: red;
}
